extends layout

block content
  //- +dl({
  //-   router: router,
  //-   baseUrl: req.baseUrl,
  //-   path: req.path,
  //-   fullPath: req.baseUrl + req.path,
  //-   originalUrl: req.originalUrl,
  //- })

  //- hr
  //- h4 public

  +link('/blog')
  +link('/private/blog')
  //- +link('/login')
  //- +link('/redirect')

  //- hr
  //- h4 staff

  //- +link('/members')
  //- +link('/products')
  
  //- hr
  //- h4 admin

  //- +link('/admin/users')
  //- +link('/admin/groups')
